Source: mingw-w64-gettext
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9), autotools-dev,
	       gcc-mingw-w64, g++-mingw-w64 (>= 1.7.1),
	       termcap-mingw-w64-dev,
	       libcroco-mingw-w64-dev,
	       libunistring-mingw-w64-dev
Standards-Version: 4.1.1
Section: libs
Homepage: http://www.gnu.org/software/gettext/
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-gettext.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-gettext.git

Package: gettext-mingw-w64-dev
Section: libdevel
Architecture: any
Depends: gettext1-mingw-w64 (= ${binary:Version}), ${misc:Depends}
Description: GNU internationalization library (mingw-w64)
 This package contains the development files which are needed in order to compile new programs.

Package: gettext-mingw-w64
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNU internationalization library (mingw-w64 runtime)
 This package contains the runtime libraries and binary programs